@font-face {
  font-family: DancingScript;
  src: url("../resources/DancingScript-Bold.ttf");
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-width: 0;
    border-style: solid;
}


:root {
  --bg-primary-clr: #fefefe;
  --fg-clr: #020202;
  --secondary-clr: #7c3626;
  --topbar-zindex: 10;
  --carousel-card-width: 10rem;
  --carousel-folder-color: #fefefe;
}

html, body {
  position: relative;
  inset: 0 0 0 0;

  scroll-behavior: smooth;
  background-color: var(--bg-primary-clr);

  display: -ms-grid;

  display: grid;
  font-size: calc(14px + 1vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  -webkit-box-align: stretch;

      -ms-flex-align: stretch;

          align-items: stretch;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

/* topbar */

.topbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;

  z-index: var(--topbar-zindex);
  background-color: var(--bg-primary-clr);
  color: var(--fg-clr);
  letter-spacing: 1px;


  display: -webkit-box;


  display: -ms-flexbox;


  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;

  padding: 1em 2em;
}

.logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0.5rem;
}


.logo span, .title span {
  font-size: 2rem;
  font-weight: 700;
}

.logo .svg-icon {
  width: 4ex;
  height: 4ex;
}


.logo .svg-icon {
  width: 4ex;
  height: 4ex;
} 


/* first-part */

.first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: stretch;

  background-image: url(../resources/welcome-section-bg.svg);
  background-size: cover;
}

/* welcome-part */

.welcome-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: stretch;

  gap: 12rem;

  padding-block: 8rem 6rem;
}



#blobSvg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(4);
      -ms-transform: scale(4);
          transform: scale(4);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

/* title */

.title-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;

  color: var(--fg-clr);
}

.title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
}

/* parts */

.part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  gap: 32px;
}

.projects-part, .whoarewe-part {
  padding-block: 2rem;
}

.contacts-part {
  padding-top: 2rem;
}

.part-title {
  font-family: DancingScript;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;

  -o-text-overflow: ellipsis;

     text-overflow: ellipsis;
  white-space: nowrap;
}

.paragraph {
  max-width: min(90%, 1200px);

  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  text-align: justify;

  -ms-flex-item-align: center;

      -ms-grid-row-align: center;

      align-self: center;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.container {
  overflow-x: hidden;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

/* whoarewe-part */

.whoarewe-part {
  color: var(--fg-clr);
}

/* projects-part */

.projects-part {
  background-color: var(--secondary-clr);
  color: var(--bg-primary-clr);
}

.carousel-card {
  position: relative;
  width: var(--carousel-card-width);
  height: var(--carousel-card-width);
  
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);

  background-color: var(--carousel-folder-color);
  color: var(--fg-clr);

  display: -ms-grid;

  display: grid;
  place-items: center center;
}

.card-front {
  position: absolute;
  bottom: 0;
  width: var(--carousel-card-width);
  height: calc( var(--carousel-card-width) * 0.3);
  
  border-radius: 20px 0px 20px 20px;
  border-top-left-radius: 100px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);

  background-color: var(--carousel-folder-color);
  color: var(--fg-clr);
}

.card-title {
  position: absolute;
  font-size: 0.65rem;
  bottom: 0.7rem;
  right: 0.7rem;
  font-family: DancingScript;
}

.card-image {
  background: #0f0f0f;
  width: calc(var(--carousel-card-width) * 0.9);
  height: calc(var(--carousel-card-width) * 0.9);
  border: 2px solid black;
  border-radius: 10px;

  position: relative;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;

  -webkit-transform-origin: center center;

      -ms-transform-origin: center center;

          transform-origin: center center;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms; 
}

.card-image.fifth {
  top: -20px;
  rotate: 3deg;
}

.card-image.fourth {
  top: -15px;
  rotate: 5deg;
}

.card-image.third {
  top: -10px;
  rotate: 2deg;
}

.card-image.second {
  top: -5px;
  rotate: -4deg;
}

.scroller {
  max-width: min(90%, 1200px);
}

.scroller__inner {
  padding-block: 2.5rem 1rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  overflow-x: scroll;
}

@media (hover: hover) {
  .carousel-card {
    cursor: pointer;
  }

  .carousel-card:hover .card-image {
    -webkit-transform: translate(0, -2rem);
        -ms-transform: translate(0, -2rem);
            transform: translate(0, -2rem);
  }  

  .arrow:hover:not(.disabled) {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .popup-close:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* popup */

.popup-container {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 101;
  width: 100%;
  height: 100%;

  display: -ms-grid;

  display: grid;
  place-items: center center;
}

.popup-bg {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 101;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 0;
}

.arrow {
  position: absolute;
  width: 1em;
  height: 1em;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.popup-close {
  position: absolute;
  top: 1em;
  right: 1em;
  
  width: 1.5em;
  height: 1.5em;

  -webkit-transform-origin: center center;

      -ms-transform-origin: center center;

          transform-origin: center center;
  cursor: pointer;  
  -webkit-transition: -webkit-transform 500ms;  
  transition: -webkit-transform 500ms;  
  -o-transition: transform 500ms;  
  transition: transform 500ms;  
  transition: transform 500ms, -webkit-transform 500ms;
}

.arrow-prev {
  left: 1em;
}

.arrow-next {
  right: 1em;
}



.popup-image {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  z-index: 2;
  
  background-image: url("../resources/loading.gif");
  background-size: cover;

  -ms-grid-row: 1;

  grid-row: 1;  
  -ms-grid-column: 1;  
  grid-column: 1;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}




@media (prefers-reduced-motion: reduce) {
  .left, .right, .outer-left, .outer-right {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .left {
    -webkit-transform: rotate(-30deg) translate(-200%, 0);
        -ms-transform: rotate(-30deg) translate(-200%, 0);
            transform: rotate(-30deg) translate(-200%, 0);
  }
  
  .right {
    -webkit-transform: rotate(30deg) translate(200%, 0);
        -ms-transform: rotate(30deg) translate(200%, 0);
            transform: rotate(30deg) translate(200%, 0);
  }
  
  .outer-left {
    -webkit-transform: rotate(-60deg) translate(-300%, 0);
        -ms-transform: rotate(-60deg) translate(-300%, 0);
            transform: rotate(-60deg) translate(-300%, 0);
  }
  
  .outer-right {
    -webkit-transform: rotate(60deg) translate(300%, 0);
        -ms-transform: rotate(60deg) translate(300%, 0);
            transform: rotate(60deg) translate(300%, 0);
  }
}

/* contacts-part */

.contacts-part {
  background-color: var(--bg-primary-clr);
  color: var(--fg-clr);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;

  max-width: min(90%, 1200px);
  width: min(90%, 1200px);

}

.contact {
  width: 13em;
  height: 13em;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

  color: var(--fg-clr);
}


.contact-icon {
  width: 3em;
  height: 3em;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.contact-info {
  font-size: 14px;
  letter-spacing: 1.5px;
}


.contact-sign {
  font-family: DancingScript;
  font-size: 1.25rem;
}

.contact-label {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 700;
}


/* footer-part */

.footer-part {
  font-size: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding-inline: 32px;
  padding-top: 40px;
  padding-bottom: 32px;

  gap: 16px;
}

.info-label {
  font-weight: 700;
}

.privacy-wrapper,
.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 16px;
}

.privacy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1em;
}

.privacy-wrapper,
.privacy-wrapper a:link,
.privacy-wrapper a:visited {
  color: var(--fg-clr);
}

.cookies-wrapper, .copyright-wrapper, .part-1-wrapper, .part-2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1em;
}